In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv("F://PML//day1//salaries.csv")
df

         rank discipline  yrs.since.phd  yrs.service   sex  salary
0        Prof          B             19           18  Male  139750
1        Prof          B             20           16  Male  173200
2    AsstProf          B              4            3  Male   79750
3        Prof          B             45           39  Male  115000
4        Prof          B             40           41  Male  141500
..        ...        ...            ...          ...   ...     ...
392      Prof          A             33           30  Male  103106
393      Prof          A             31           19  Male  150564
394      Prof          A             42           25  Male  101738
395      Prof          A             25           15  Male   95329
396  AsstProf          A              8            4  Male   81035

[397 rows x 6 columns]

In [3]:
df.columns

Index(['rank', 'discipline', 'yrs.since.phd', 'yrs.service', 'sex', 'salary'], dtype='object')

In [4]:
dum_hous=pd.get_dummies(df,drop_first=True)
x=dum_hous.drop('salary',axis=1)
y=dum_hous['salary']

In [5]:
lr =LinearRegression()

lr.fit(x,y)
print(lr.intercept_, lr.coef_)

78862.82025652145 [   535.05828196   -489.51571521 -12907.58789979  32158.4107717
  14417.62557055   4783.49283669]

In [6]:
#y=99974.65286632921 + * 779.56911369
#print(y)

ycap=lr.predict(x)

In [8]:
np.sum((y-ycap)**2)

198116333525.07697

In [10]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y,ycap)

499033585.70548356